body {
    margin: 0%;
    padding: 0%;
}

/* Header */
header nav.navbar.navbar-expand-lg {
    background-color: #388E3C;
}

header nav div.container div.collapse.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* tirando sublinhado e mudando a cor do texto  */
header ul.navbar-nav a.nav-link {
    text-decoration: none;
    color: #FDFDFD;
}

header ul.navbar-nav a.nav-link.active {
    font-weight: bold;
    color: #FDFDFD;
}

/* Final Header */


/* Carrossel */
main section div.carousel.slide {
    background: linear-gradient(rgb(144, 144, 250), rgb(255, 255, 255))
}

main section div.carousel-item {
    padding: 30px;
}

main section div.carousel-item h2 {
    color: #388E3C;
    width: 388px;
    margin-top: 100px;
}

main section div.carousel-item p {
    width: 365px;
}

/* Final do Carrossel */


/* Planos Conexos */
section.planosConexos div.listaPlanos ul {
    text-align: left;
    margin-bottom: 50px;
}

section.planosConexos div.listaPlanos p {
    text-align: left;
    min-height: 100px;
}

section.planosConexos h2 {
    color: #388E3C;
    text-align: center;
    margin-bottom: 50px;
}

section.planosConexos div.listaPlanos {
    display: flex;
    justify-content: space-around;
}

section.planosConexos div.listaPlanos article {
    width: 250px;
    height: 620px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 17px;
    text-align: center;
}

section.planosConexos h6 {
    color: #388E3C;
}

section.planosConexos div.listaPlanos div.imagemPlano {
    height: 100px;
}

section button.buttonPlano {
    background-color: #388E3C;
    border-radius: 10px;
    color: #FDFDFD;
    padding: 5px;
    border: 1px solid #388E3C;
    box-shadow: 0px 0px 5px 5px #e3e1e1;
}

section button.buttonPlano:hover {
    background-color: #1d6321;
}

section.planosConexos div.listaPlanos h6 {
    text-align: center;
}

section.planosConexos div.listaPlanos div.imagemPlano {
    text-align: center;
    margin-bottom: 50px;
}

section.planosConexos {
    margin-bottom: 50px;
    /* Adiciona 50 pixels de espaçamento abaixo do elemento */
    margin-top: 50px;
    /* Adiciona 50 pixels de espaçamento acima do elemento */
}

section.planosConexos article {
    box-shadow: 0px 0px 5px 5px #e3e1e1;
}

/* Final da parte do Plano Conexos */


/* Contratação Conexos */
section.contratacaoConexos {
    margin-bottom: 150px;
    margin-top: 150px;
}

section.contratacaoConexos article h4 {
    color: #388E3C;
    margin-bottom: 40px;
}

section.contratacaoConexos {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contratacaoConexos form.formulario {
    width: 500px;
    height: 800px;
    border: 1px solid #ccc;
    padding: 70px;
    border-radius: 17px;
    box-shadow: 0px 0px 5px 5px #e3e1e1;
}

section form button.buttonCadastrar {
    background-color: #388E3C;
    border-radius: 10px;
    color: #FDFDFD;
    padding: 5px;
    border: 1px solid #388E3C;
    box-shadow: 0px 0px 5px 5px #e3e1e1;
    width: 100%;
    padding: 5px 10px;
    margin-top: 30px;
}

section form button.buttonCadastrar:hover {
    background-color: #1d6321;
}

section.contratacaoConexos form.formulario input{
    margin-bottom: 30px;
}

section.contratacaoConexos form.formulario select{
    margin-bottom: 15px;
}

section.contratacaoConexos form.formulario input,
section.contratacaoConexos form.formulario select {
    width: 100%;
    padding: 2px 10px;
}

section.contratacaoConexos article div.imagemContratacaoPlano {
    margin: 50px;
}

/* Final da parte da Contratação Conexos */

/* Status de Solicitação */
section.statusSolicitacao {
    background: linear-gradient(rgb(255, 255, 255), rgb(144, 144, 250));
    padding: 50px 0px;

}

section.statusSolicitacao article.containerStatus div.imagemStatus img {
    width: 500px;
}

section.statusSolicitacao {
    display: flex;
    justify-content: space-evenly;
}

section.statusSolicitacao article div.conteudoStatus {
    margin-top: 45px;
    width: 600px;
}

section.statusSolicitacao article div.conteudoStatus h2 {
    color: #388E3C;
}

section.statusSolicitacao article div.conteudoStatus button.buttonStatus {
    background-color: #388E3C;
    border-radius: 10px;
    color: #FDFDFD;
    padding: 5px;
    border: 1px solid #388E3C;
    box-shadow: 0px 0px 5px 5px #8588af;
    width: 100%;
    padding: 5px 10px;
    margin-top: 30px;
}

section.statusSolicitacao article div.conteudoStatus button.buttonStatus:hover {
    background-color: #1d6321;
}


/* Fianl da parte de Status de Solicitação */


/* Footer */
footer {
    background-color: #388E3C;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

footer div.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
}

footer p {
    margin: 0;
}

footer div.col p {
    font-size: small;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    padding: -50px -100px;
}

footer ul li a {
    text-decoration: none;
    display: table-row;
    padding: 10px 15px;
    color: #FFFFFF;
}

footer ul li {
    text-decoration: none;
    display: table-row;
}

footer div.row {
    margin: 0px 90px;
}

footer div.copyright {
    text-align: center;
    border-top: 1.5px solid #FFFFFF;
    padding: 10px;
    font-size: 12px;
}
/* Final do Footer */


/* PAGINA de Status de Solicitação */
section.paginaStatusSolicitacao {
    padding: 100px 0px;
}

section.paginaStatusSolicitacao {
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}

section.paginaStatusSolicitacao article div.tituloTexto h1{
    color: #388E3C;
    font-size: 60px;
    width: 100%;
}

section.paginaStatusSolicitacao article div.tituloTexto p{
    width: 500px;
    font-size: 30px;
}

section.paginaStatusSolicitacao article.containerCodigo{
    margin-top: 100px;
}

section.paginaStatusSolicitacao article form.formularioCodigo {
    width: 500px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 17px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px #e3e1e1;
    margin-top: 95px;
}

section.paginaStatusSolicitacao form.formularioCodigo input{
    margin-top: 10px;
    width: 80%;    
}

section.paginaStatusSolicitacao article form.formularioCodigo button.buttonVerificarStatus {
    background-color: #388E3C;
    border-radius: 10px;
    color: #FDFDFD;
    padding: 5px;
    border: 1px solid #388E3C;
    width: 81%;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 80px;
}

section.paginaStatusSolicitacao article form.formularioCodigo button.buttonVerificarStatus:hover {
    background-color: #1d6321;
}

section.paginaStatusSolicitacao article form div{
    height: 100%;
    border: 1px solid #388E3C;
    border-radius: 9px;
    background-color: #E4E4E4;
    padding: 10px;
    text-align: left;
    font-size: 17px;
}


@media only screen and  (max-width: 555px){
    section.paginaStatusSolicitacao article div.tituloTexto p {
        font-size: 15px;
    }

    body main section article div {
        display: flex;
        flex-flow: wrap;
    }

    section.paginaStatusSolicitacao article form.formularioCodigo {
       width: 333px;
    }

    section.paginaStatusSolicitacao article div.tituloTexto h1 {
        font-size: 35px;
    }
}


@media only screen and  (max-width: 425px){

    footer ul li a {
        font-size: 12px;
    }

    section.paginaStatusSolicitacao article div.tituloTexto p {
        font-size: 13px;
    }

    body main section article div {
        display: flex;
        flex-flow: wrap;
    }

    section.paginaStatusSolicitacao article form.formularioCodigo {
       width: 285px;
       
    }

    section.paginaStatusSolicitacao article div.tituloTexto h1 {
        font-size: 27px;
    }

    section.paginaStatusSolicitacao article div.tituloTexto p {
        width: 256px;
    }

    footer div.copyright {
        font-size: 8px; 
    }

}


/* Final da PAGINA de Status de Solicitação */



/* PAGINA de Contratação Conexos */
section.paginaContratacaoConexos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
    margin-top: 150px;
}

section.paginaContratacaoConexos article div.textoTitulo{
    width: 500px;
}

section.paginaContratacaoConexos article div.textoTitulo h1{
    color: #388E3C;
    margin-bottom: 50px;
}

section.paginaContratacaoConexos article div.textoTitulo ul{
    margin-top: 50px;
}

section.paginaContratacaoConexos article h4 {
    color: #388E3C;
    margin-bottom: 40px;
}

section.paginaContratacaoConexos form.formularioContratacao {
    width: 500px;
    height: 800px;
    border: 1px solid #ccc;
    padding: 70px;
    border-radius: 17px;
    box-shadow: 0px 0px 5px 5px #e3e1e1;
}

section form button.buttonPlano {
    background-color: #388E3C;
    border-radius: 10px;
    color: #FDFDFD;
    padding: 5px;
    border: 1px solid #388E3C;
    box-shadow: 0px 0px 5px 5px #e3e1e1;
    width: 100%;
    padding: 5px 10px;
    margin-top: 30px;
}

section form button.buttonPlano:hover {
    background-color: #1d6321;
}

section.paginaContratacaoConexos form.formularioContratacao input{
    margin-bottom: 30px;
}

section.paginaContratacaoConexos form.formularioContratacao select{
    margin-bottom: 15px;
}

section.paginaContratacaoConexos form.formularioContratacao input,
section.paginaContratacaoConexos form.formularioContratacao select {
    width: 100%;
    padding: 2px 10px;
}
/* Final da PAGINA de Contratação Conexos */



/* Media Query */
@media(max-width:1000px){

    /* Carrossel */
    #texto-carrossel {
       text-align: center;
    }
    #texto-carrossel h2 {
        font-size: 20px;
        width: auto;
    }
    #texto-carrossel p {
        font-size: 12px;
        width: auto;
    }
    /* Final Carrosel */


    /* Planos Conexos */
    section.planosConexos .listaPlanos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.planosConexos .listaPlanos article{
        margin-bottom: 20px;
    }
    /* Final Plano Conexos  */


    /* Contratação Conexos */
    section.contratacaoConexos article form.formulario{
       width: auto;
       padding: 40px;
    }
    section.contratacaoConexos{
        margin: 20px;
    }
    section.contratacaoConexos article div.imagemContratacaoPlano {
        display: none;
    }
    /* Final Contratação Conexos */


    /* Status de Solicitação */
    section.statusSolicitacao article.containerStatus{
        display: none;
    }
    section.statusSolicitacao article div.conteudoStatus{
        width: auto;
        padding: 60px;
        text-align: center;
    }
    /* Final Status de Solicitação */


    /* Footer */
    footer div.container div#texto-footer{
        display: none;
    }
    footer div.container{
        display: flex;
        flex-direction: column;
    }
    /* Final footer */

    /* Pagina Status de Solicitação */

    section.paginaStatusSolicitacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.paginaStatusSolicitacao article div.tituloTexto{
       width: auto;
       margin: 30px;
       
    }

    

}