body{
    margin: 0%;
    padding: 0%;
}

header .navbar.navbar-expand-lg {
    background-color: #388E3C;
}

header nav .container .navbar-collapse{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* tirando sublinhado e mudando a cor do texto  */
header .navbar .nav-link {
    text-decoration: none;
    color: #FDFDFD;
} 

header .navbar .nav-link.active {
    font-weight: bold;
    color: #FDFDFD;
} 

/* Cor de fundo (Degrade) do carrossel*/
main {
    background: linear-gradient(rgb(144, 144, 250), rgb(255, 255, 255))
}

main article .carousel-item{
    padding: 30px 0;
}

main article .carousel-item h2{
    color: #388E3C;
    width: 388px;
    margin-top: 100px;
}

main article .carousel-item p{
    width: 365px;
}




